body {
  font-family: "Poiret One", cursive;
}

.navBarDiv {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
}

.logoImage {
  height: 75px;
  width: 75px;
  margin-left: 40px;
}

.buttonNavBar {
  font-weight: bold;
  padding: 15px;
}

.buttonsNavBar {
  margin: 0px 15px 0 0;
}

.buttonNavBar:hover {
  cursor: pointer;
}

.home1Div {
  display: flex;
  justify-content: space-between;
  background-color: #f9ac93;
  height: 500px;
  padding-top: 100px;
}

.foxImage {
  height: 360px;
  width: 360px;
  margin: 80px 130px 0 0;
}
.slogan {
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: xxx-large;
  margin: 180px 0 0 130px;
}

.PresentationDiv {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.fotoMartu {
  border-radius: 100%;
  height: 350px;
  width: 350px;
  margin: 50px 0 0 120px;
}

.MartuWhoIsShe {
  color: black;
  font-weight: 700;
  margin: 110px;
  font-size: large;
}

.divServices {
  display: flex;
  justify-content: space-around;
  background-color: #ebebeb;
  height: 600px;
}

.yogaService {
  background: url(https://img.techpowerup.org/201027/martu.jpg);
}

.communityService {
  background: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
}

.buttonServices {
  border-radius: 100%;
  height: 250px;
  width: 250px;
  font-size: 31px;
  border: 1px solid black;
  font-weight: bold;
  font-family: "Poiret One", cursive;
  background-color: rgba(255, 255, 255, 0.4);
}

.buttonServices:hover {
  cursor: pointer;
  outline: none;
}

.buttonAshtanga {
  margin-top: 40px;
}

.buttonCommunity {
  margin-top: 300px;
}

.divContactMe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.titleContactMe {
  font-weight: 700;
  font-size: xx-large;
  margin-top: 25px;
  margin-bottom: 5px;
}

.whatsappMartu {
  letter-spacing: 1px;
}

.contactMartu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactMartu span {
  margin: 20px 0;
}

.codedBy {
  text-align: center;

  margin: 20px;
  font-size: x-small;
}

.iconSocialMedia {
  color: black;
  font-size: 29px;
}

.mailMartu {
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
}

.mailMartu div {
  margin-left: 2px;
}
