.instagramPhotosWrapper {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.photosOneByOne {
  display: flex;
  justify-content: center;
  flex: 0 0 26%;
  object-fit: cover;
}
.photoInstagram {
  height: auto;
  width: 220px;
  padding: 9px;
  background-color: #faac94;
  margin-bottom: 36px;
  margin-left: 5px;
  border-radius: 24px;
  transition: transform 0.5s ease;
}

.photoInstagram:hover {
  transform: rotate(5deg);
}

.bitacoraYoguiInstagram {
  text-align: center;
  font-size: 34px;
  padding-top: 80px;
  padding-bottom: 44px;
}

.logoInstagram {
  padding-top: 5px;
}
